/* Importando fontes românticas */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Dancing+Script&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: time 'Times New Roman', Times, serif;
    background-color: #000; /* fundo preto para dar contraste */
    color: #fff;
    text-align: center;
    line-height: 1.8;
}
#playButton {
    display: none; /* só aparece se autoplay falhar */
    padding: 15px 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    background: linear-gradient(135deg, #e63946, #1d3557, #000);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

#playButton:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(230,57,70,0.8);
}


/* Cabeçalho */
header.cabeçalho {
    background: linear-gradient(135deg, #1d3557, #000000, #e63946);
    padding: 200px 20px;
    border-bottom: linear solid #e63946;
    margin-bottom: 30px;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    color: #e63946;
    text-shadow: 2px 2px 8px #000;
    margin-top: 20px;
    margin-bottom: 18px;
}

header h2 {
    font-size: 28px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

/* Seções normais */
section.normal {
    background-color: #00000062;
    color: #fff;
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
    font-size: 22px;
    box-shadow: 0 0 20px rgba(70, 67, 67, 0.6);
    border-radius: 30px;
    margin-bottom: 80px;
}
ul {
    margin: 20px auto;
    max-width: 600px;
    padding: 40px;
    list-style: none; /* remove os símbolos padrão */
}

ul li {
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 35px; /* espaço pro coração */
}

ul li::before {
    content: "❤"; /* coração */
    position: absolute;
    left: 0;
    color: #e63946; /* vermelho */
    font-size: 22px;
}


/* Seções com imagem (Parallax) */
section.imagem {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 120px 30px;
    font-size: 24px;
    text-shadow: 2px 2px 6px #000;
    border-radius: 20px;
    margin-bottom: 50px;
}

/* Definindo imagens diferentes para cada seção */

#img01 { background-image: url("imagem/img1.jpeg"); }
#img02 { background-image: url("imagem/img2.jpeg"); }
#img03 { background-image: url("imagem/img3.jpeg"); }
#img04 { background-image: url("imagem/img4.jpeg"); }

/* Títulos das seções */
section h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 56px;
    color: #d89096;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px #000;
}

/* Rodapé */
footer > p{
    font-family: 'Times New Roman', Times, serif;
    background: #000000;
    padding: 10px;
    margin-top: 10px;
    text-shadow: 1px 5px 2px #580808;
    box-shadow: 2px 5px 12px rgb(255, 255, 255);
    border-radius: 5px;
}
